@keyframes clickBatata{
    0%{scale: 1;}
    50%{scale: 1.2;}
    100%{scale: 1;}
}

@keyframes clickCompraUpgrade{
    0%{background-color: rgb(151, 151, 151);transform: translateY(-2px);}

}

@keyframes fundoBatata{
    0%{rotate: 0deg;}
    50%{rotate: 360deg;}
    99%{rotate: 0deg;}
}


@keyframes salvarIcone {
    from{scale: 1;}
    50%{scale: 1.2;}
    100%{scale: 1;}
}