#divConquistas {
  display: none;
  padding: 0;
}
#divConquistas p,
#divConquistas #campoConquistas{
  padding: 16px;
}

#campoConquistas {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}
.containerConquistas {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
  border: 8px ridge rgb(70, 39, 13);
  background-color: #363643;
  width: 32%;
}
.containerConquistas h5 {
  height: 100%;
  padding: 0px 6px;
  text-wrap: wrap;
}

.conquistaBloqueada {
  filter: brightness(0.7) grayscale(0.2);
  background-color: #202021;
}

#infoConquista {
  display: none;
  position: fixed;
  width: 50vw;
  color: white;
  z-index: 10;
  background: rgb(39, 38, 54);
  top: 0;
  right: 0;
  padding: 8px;
  gap: 12px;
  box-sizing: border-box;
}
#trofeuConquista{height:70px}

#campoPopupsConquistas{
  position: fixed;
  z-index: 8;
  bottom: 0;
  left: 37.5%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.popupConquista {
  position: relative;
  background: rgba(49, 46, 62, 0.767);
  backdrop-filter: blur(4px);
  color: white;
  border: 4px ridge rgb(70, 44, 8);
  border-bottom: 0;
  height: 80px;
  width: 320px;
  padding: 8px;
}
.fecharPopup{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

.popupConquista div:has(div){display: flex; justify-content: left; gap: 24px;}
.popupConquista div:not(:has(div)){display: flex; flex-direction: column; text-align: left;}
.popupConquista img{height: 60px; aspect-ratio:1/1;}
.popupConquista h2{font-size: 0.9em;}
.popupConquista p{font-size: 0.7em;}