

.botaoFecharDiv {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
}

body.swal2-shown:not(.swal2-no-backdrop,.swal2-toast-shown) {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}