* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  overflow-x: hidden;
}

select {
  border: 6px ridge #180f03;
  color: white;
  background-color: #47320f;
}

button {cursor: pointer;}
br, hr, img{user-select: none;}