.itemPowerup{
    align-content: center;
    text-align: center;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.39);
    width: 80px;
    height: 80px;
}
.displayPowerUpsEscondido{
    display: none;
}

#divPowerups{
    display: flex;
}