.itemPowerup {
  align-content: center;
  text-align: center;
  border: 6px ridge #180f03;
  background-color: #4b3308;
  backdrop-filter: blur(3px);
  color: white;
  width: 96px;
  height: 96px;
  user-select: none;
  cursor: pointer;
}

.itemPowerup[title^=" "]:not(.powerupBloqueado):hover{
  backdrop-filter: brightness(1.3);
}

.powerupBloqueado {
  color: rgb(179, 179, 179);
  filter: brightness(0.7);
  cursor: not-allowed;
}

.displayPowerUpsEscondido {
  display: none;
}

#divPowerups {
  display: flex;
}

#infoPowerups {
  display: none;
  width: 50%;
}

/* .itemPowerup[onclick^="Powerup"]:hover{backdrop-filter: brightness(1.35);} */