#tudoPraEsquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 215, 215);
  background: url(../imagens/bg-manha2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50vw;
  height: 100vh;
  padding-bottom: 20px;
  position: relative;
  overflow-y: hidden;
}
.divBatataGrande {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
#imagemBatata {
  transition: 0.4s;
  cursor: pointer;
}
#imagemBatata:hover {
  scale: 1.1;
}

#imagemBatata:focus,
#imagemBatata:active {
  animation: clickBatata 0.15s ease-in-out;
}

jogo-skins{
  position: absolute;
  top: 0;
  right: 0;

  flex-wrap: wrap;
  gap: 20px;

}

#divSkins > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: baseline;
  width: 400px;
  max-height: 100vh;
  gap: 20px;  
  background-color: rgb(24, 28, 49, 0.7);
  backdrop-filter: blur(3px);
  overflow-y: auto;
  padding: 24px 12px;
  box-sizing: border-box;
}

.itemSkin{
  width: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img[src="imagens/skins.png"]{
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  background-color: rgba(33, 37, 54, 0.4);
  cursor: pointer;
} 

.botaoAtivo {
  filter: brightness(1.1);
  background-color: darkgrey !important;
  color: aliceblue;
}

.navSecoes img {
  cursor: pointer;
}
.navSecoes img:nth-of-type(1) {anchor-name: --aba1;}
.navSecoes img:nth-of-type(2) {anchor-name: --aba2;}
.navSecoes img:nth-of-type(3) {anchor-name: --aba3;}

#abaNome {
  display: none;
  position: fixed;
  z-index: 1;
  /* position-anchor: DECIDIDO EM JS; */
  top: anchor(bottom);
  right: anchor(right);
  left: anchor(left);
  justify-self: center;
}

#tudoPraDireita {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgb(247 238 224);
}

#divSkins{
  display: none;
}

#divConfiguracoes,
#divEstatisticas,
#divConquistas {
  display: none;
  backdrop-filter: blur(5px) brightness(0.7);
  background-color: rgba(52, 36, 5, 0.568);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50vw;
  box-sizing: border-box;
  padding: 16px;
  padding-bottom: 36px;
  height: 100vh;
  overflow: auto;
}

#divConfiguracoes::-webkit-scrollbar,
#divEstatisticas::-webkit-scrollbar,
#divConquistas::-webkit-scrollbar {
  display: none;
}

#popupSalvar {
  display: none;
  user-select: none;
}
#popupSalvar img {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 75px;
  animation: salvarIcone 1s infinite ease-in-out;
  user-select: none;
  z-index: 10;
}

@media (width < 900px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #tudoPraDireita {
    padding-bottom: 24px;
  }
  #divConfiguracoes,
  #divEstatisticas,
  #divConquistas,
  #infoConquista {
    box-sizing: border-box;
    width: 100% !important;
    padding: 20px !important;
    /* width: calc(100vw - 20px - 4.5vw); */
  }
}

@media (max-width: 480px) {
  .botaoFecharDiv {
    width: 48px;
  }
  #divConfiguracoes,
  #divEstatisticas,
  #divConquistas,
  #infoConquista {
    padding-bottom: 36px !important;
  }
}

#popupBackupErro {
  position: fixed;
  z-index: 8;
  bottom: 0;
  right: 0;
  width: 25%;
  padding: 8px 12px;
  background-color: white;
  font-weight: 600;
  font-size: 1.5em;
  text-wrap: wrap;
}
