#tudoPraEsquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 215, 215);
  background: url(imagens/bg-manha2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50vw;
  height: 100vh;
  padding-bottom: 36px;
}
.divBatataGrande {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
#imagemBatata {
  clip-path: circle();
  transition: 0.4s;
  cursor: pointer;
}
#imagemBatata:hover {
  scale: 1.1;
}

#imagemBatata:focus,
#imagemBatata:active {
  animation: clickBatata 0.15s ease-in-out;
}

.botaoAtivo {
  filter: brightness(1.1);
  background-color: darkgrey !important;
  color: aliceblue;
}

.navSecoes img{
  cursor: pointer;
}

#tudoPraDireita {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
  overflow: hidden;
}

#divConfiguracoes,
#divEstatisticas,
#divConquistas {
  display: none;
  backdrop-filter: blur(5px) brightness(0.7);
  background-color: rgba(52, 36, 5, 0.568);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50vw;
  box-sizing: border-box;
  padding: 16px;
  padding-bottom: 36px;
  height: 100vh;
  overflow: auto;
}

#divConfiguracoes::-webkit-scrollbar,
#divEstatisticas::-webkit-scrollbar,
#divConquistas::-webkit-scrollbar {
  display: none;
}

#popupSalvar {
  display: none;
  user-select: none;
}
#popupSalvar img {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 75px;
  animation: salvarIcone 1s infinite ease-in-out;
  user-select: none;
  z-index: 10;
}

@media (width < 900px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #tudoPraDireita {
    padding: 0;
  }
  #divConfiguracoes,
  #divEstatisticas {
    padding: 20px;
    width: calc(100vw - 20px - 4.5vw);
  }
}
