h2[id^="precoUp"]{
  display: block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upgradeBloqueado {
  background-color: gray;
  color: black;
  cursor: pointer;
}

#tabelaDeComprasProdutos {
  margin: 0 12px;
  font-size: 12px;
  border: 2px solid black;
  border-collapse: collapse;
}
.nomeUpgrade {width: 200px;}
.qntUp {width: 60px;}
.precoCompra {
  width: 170px;
  padding: 0 10px;
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;
  text-align: center;
}

.botaoMudarNumUpgrade {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  border: 0;
  font-size: 1.5rem;
  background-color: rgb(226, 226, 226);
}
.botaoMudarNumUpgrade:hover {filter: brightness(0.8);}
.botaoMudarNumUpgrade:active {animation: clickCompraUpgrade 200ms ease-in-out;}

th,
tr,
td {
  height: 50px;
  border: 1px solid black;
  text-align: center;
}
th {
  width: 33%;
  background-color: rgb(68, 42, 8);
  color: aliceblue;
}
thead tr:last-of-type {
  background-color: rgb(68, 68, 68);
}

#infoUpgrade{display: none;}
#nomeUpgrade{display: inline;}

@media (max-width: 600px) {
  .botaoMudarNumUpgrade{
    font-size: 1.2rem;
  }
  h2[id^="precoUp"]{
    font-size: 1em;
  }
  thead h1{
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .botaoMudarNumUpgrade{
    font-size: 1.2rem;
  }
  .nomeUpgrade button{
    font-size: 1rem;
  }
}